.project-refs-form,
.project-refs-target-form {
  display: inline-block;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.commit-message {
  @include str-truncated(250px);
}

.editable-mode {
  display: inline-block;
}

@media (min-width: $screen-md-min) {
  .blob-viewer[data-type="rich"] {
    margin: 20px;
  }
}

.multi-file {
  display: flex;
  height: calc(100vh - 145px);
  border-top: 1px solid $white-dark;
  border-bottom: 1px solid $white-dark;

  &.is-collapsed {
    .ide-file-list {
      max-width: 250px;
    }
  }

  .file-status-icon {
    width: 10px;
    height: 10px;
  }
}

.ide-file-list {
  flex: 1;
  overflow: scroll;

  .file {
    cursor: pointer;
  }

  a {
    color: $gl-text-color;
  }

  th {
    position: sticky;
    top: 0;
  }
}

.multi-file-table-name,
.multi-file-table-col-commit-message {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 0;
}

.multi-file-table-name {
  width: 350px;
}

.multi-file-table-col-commit-message {
  width: 50%;
}

.multi-file-edit-pane {
  display: flex;
  flex-direction: column;
  flex: 1;
  border-left: 1px solid $white-dark;
  overflow: hidden;
}

.multi-file-tabs {
  display: flex;
  overflow: scroll;
  background-color: $white-normal;
  box-shadow: inset 0 -1px $white-dark;

  > li {
    position: relative;
  }
}

.multi-file-tab {
  @include str-truncated(150px);
  padding: ($gl-padding / 2) ($gl-padding + 12) ($gl-padding / 2) $gl-padding;
  background-color: $gray-normal;
  border-right: 1px solid $white-dark;
  border-bottom: 1px solid $white-dark;
  cursor: pointer;

  &.active {
    background-color: $white-light;
    border-bottom-color: $white-light;
  }
}

.multi-file-tab-close {
  position: absolute;
  right: 8px;
  top: 50%;
  padding: 0;
  background: none;
  border: 0;
  font-size: $gl-font-size;
  color: $gray-darkest;
  transform: translateY(-50%);

  &:not(.modified):hover,
  &:not(.modified):focus {
    color: $hint-color;
  }

  &.modified {
    color: $indigo-700;
  }
}

.multi-file-edit-pane-content {
  flex: 1;
  height: 0;
}

.multi-file-editor-btn-group {
  padding: $grid-size;
  border-top: 1px solid $white-dark;
}

// Not great, but this is to deal with our current output
.multi-file-preview-holder {
  height: 100%;
  overflow: scroll;

  .blob-viewer {
    height: 100%;
  }

  .file-content.code {
    display: flex;

    i {
      margin-left: -10px;
    }
  }

  .line-numbers {
    min-width: 50px;
  }

  .file-content,
  .line-numbers,
  .blob-content,
  .code {
    min-height: 100%;
  }
}

.multi-file-commit-panel {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 290px;
  padding: $gl-padding;
  background-color: $gray-light;
  border-left: 1px solid $white-dark;

  &.is-collapsed {
    width: 60px;
    padding: 0;
  }
}

.multi-file-commit-panel-section {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.multi-file-commit-panel-header {
  display: flex;
  align-items: center;
  padding: 0 0 12px;
  margin-bottom: 12px;
  border-bottom: 1px solid $white-dark;

  &.is-collapsed {
    border-bottom: 1px solid $white-dark;

    svg {
      margin-left: auto;
      margin-right: auto;
    }
  }
}

.multi-file-commit-panel-collapse-btn {
  padding-top: 0;
  padding-bottom: 0;
  margin-left: auto;
  font-size: 20px;

  &.is-collapsed {
    margin-right: auto;
  }
}

.multi-file-commit-list {
  flex: 1;
  overflow: scroll;
}

.multi-file-commit-list-item {
  display: flex;
  align-items: center;
}

.multi-file-addition {
  fill: $green-500;
}

.multi-file-modified {
  fill: $orange-500;
}

.multi-file-commit-list-collapsed {
  display: flex;
  flex-direction: column;

  > svg {
    margin-left: auto;
    margin-right: auto;
  }

  .file-status-icon {
    width: 10px;
    height: 10px;
    margin-left: 3px;
  }

}

.multi-file-commit-list-path {
  @include str-truncated(100%);
}

.multi-file-commit-form {
  padding-top: 12px;
  border-top: 1px solid $white-dark;
}

.multi-file-commit-fieldset {
  display: flex;
  align-items: center;
  padding-bottom: 12px;

  .btn {
    flex: 1;
  }
}

.multi-file-commit-message.form-control {
  height: 80px;
  resize: none;
}

.dirty-diff {
  // !important need to override monaco inline style
  width: 4px !important;
  left: 0 !important;

  &-modified {
    background-color: $blue-500;
  }

  &-added {
    background-color: $green-600;
  }

  &-removed {
    height: 0 !important;
    width: 0 !important;
    bottom: -2px;
    border-style: solid;
    border-width: 5px;
    border-color: transparent transparent transparent $red-500;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100px;
      height: 1px;
      background-color: rgba($red-500, .5);
    }
  }
}
