!!! 5
%html.devise-layout-html
  = render "layouts/head"
  %body.ui_charcoal.login-page.application.navless{ data: { page: body_data_page } }
    .page-wrap
      = render "layouts/header/empty"
      .login-page-broadcast
        = render "layouts/broadcast"
      .container.navless-container
        .content
          = render "layouts/flash"
          .row
            .col-sm-5.pull-right.new-session-forms-container
              = yield
            .col-sm-7.brand-holder.pull-left
              %h1
                = brand_title
                = brand_image
              - if brand_item&.description?
                = brand_text
              - else
                %h3 Open source software to collaborate on code

                %p
                  Manage Git repositories with fine-grained access controls that keep your code secure.
                  Perform code reviews and enhance collaboration with merge requests.
                  Each project can also have an issue tracker and a wiki.

              - if current_application_settings.sign_in_text.present?
                = markdown_field(current_application_settings, :sign_in_text)
              - if current_application_settings.help_text.present?
                %h3 Need help?
                %hr
                %p.slead
                  = markdown(current_application_settings.help_text)

      %hr.footer-fixed
      .container.footer-container
        .footer-links
          = link_to "Explore", explore_root_path
          = link_to "Help", help_path
          = link_to "About GitLab", "https://about.gitlab.com/"
